
/* モーダル コンテンツエリア */
.modal-window {
    display: none;
    width: 60vw;
    height: 34vw;
    min-width:800px;
    min-height: 450px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #666666;
    position:fixed;
    z-index: 2;
}

.modal-cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.modal-item-img {
    width: 65%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center
}

.modal-item-img-bor {
    width: calc(100% - 10px);
    height: calc(100% - 10px);

}

.modal-item-img-bor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-item-img-bor video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.modal-item-tex {
    width: 35%;
    height: 80%;
    background-color: #bbbbbb;
    overflow: hidden;
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-item-tex p {
    width: 80%;
    font-size: 0.75rem;
    text-align: center;
    
}

.modal-item-tytle {
    width: 65%;
    height: 20%;
    background-color: #bbbbbb;
    font-size: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}




.modal-item-spec {
    width: 35%;
    height: 20%;
    background-color: #fff;
    font-size: 0.55rem;
    color: #666666;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media (min-width: 1300px) {
    .modal-item-spec {
        font-size: calc(0.10rem + 0.75vw);
    }

}

.modal-item-spec ul {
    list-style-type: none;
}


/* モーダル 背景エリア */
.modal-bg {
    display:none;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
}
